[submodule "odoo_resources"]
    path = odoo_resources
    url = git@github.com:rashid-habib/odoo_resources.git
    branch = main
[submodule "odoo_addons"]
    path = odoo_addons
    url = git@github.com:rashid-habib/odoo_addons.git
    branch = 19.0
[submodule "odoo_addons_in_dev"]
	path = odoo_addons_in_dev
	url = git@github.com:rashid-habib/odoo_addons_in_dev.git
    branch = 19.0
